{% load render_bundle from webpack_loader %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Data Playground</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'data_playground/style.css' %}">
  </head>
  <body>
    <div id="react"></div>
    <svg width="300px" height="150px">
      <rect x="20" y="20" width="20px" height="20" rx="5" ry="5" />
      <rect x="60" y="20" width="20px" height="20" rx="5" ry="5" />
      <rect x="100" y="20" width="20px" height="20" rx="5" ry="5"/>
    </svg>
    <script>
      window.stuff = {{ props | safe }};
      console.log(window.stuff)
      window.react_mount = document.getElementById('react');
    </script>
    {% render_bundle 'main' %}
  </body>
</html>
